<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
  <!--<add name="loginmaster" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=C:\Users\KUNAL\Documents\Visual Studio 2012\Projects\CERAMIC STORE MANAGEMENT SYSTEM\App_Data\Login_master.mdf;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient" />-->
  <add name="loginmaster" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=&quot;D:\Projects\CERAMIC STORE MANAGEMENT SYSTEM\App_Data\Login_master.mdf&quot;;Integrated Security=True;Connect Timeout=60" providerName="System.Data.SqlClient" />
  
 </connectionStrings>
 <system.web>
		<compilation debug="true" targetFramework="4.0" />
	</system.web>
</configuration>
